@page "/Error"
@attribute [AllowAnonymous]

@using System.Diagnostics
@using System.Diagnostics.CodeAnalysis

<PageTitle>Dressca-CMS - 内部サーバーエラー</PageTitle>

<div>
    <h3>内部サーバーエラー</h3>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="30">
        <div>
            申し訳ありません。処理中に予期しないエラーが発生しました。<br />
            時間をおいて再度アクセスしてください。問題が解決しない場合は、管理者へお問い合わせください。
        </div>
        <FluentAnchor Href="/" Appearance="Appearance.Hypertext">トップページに戻る</FluentAnchor>
        @if (this.ShowStackTrace)
        {
            <FluentCard>
                <h4>スタックトレース</h4>
                <pre>@this.Exception.ToString()</pre>
            </FluentCard>
        }
    </FluentStack>
</div>

@code {
    [Parameter]
    public Exception? Exception { get; set; }

    // ASP.NET Core では、 IWebHostEnvironment は常に登録されており、
    // null になることはないため、 null 非許容にはしていません。
    [Inject]
    private IWebHostEnvironment Environment { get; set; } = default!;

    [MemberNotNullWhen(true, nameof(Exception))]
    private bool ShowStackTrace => this.Environment.IsDevelopment() && this.Exception is not null;
}
